h1, h2, h3, h4,h5{
    font-family: 'Roboto', sans-serif;
    color: #4F4F4F;
}

p{
    color: #4F4F4F;
}

.heading h1, .heading p, #steps p{
    color: #ffffff;
}

.header{
    background-image: url('../images/Landing-Page-background-image.png')!important;
    background-size: cover !important;
    color: #ffffff!important;
    padding: 1.1% 1.1%;    
}
nav a{
    color: #ffffff!important;
}

.dropdown-item span{
    color: #111111;
}

#logo{
    width: 175px;
    height: auto;
}


a{
    text-decoration: none!important;
}

.nav-padding{
    padding-top:0.25em;
    padding-bottom: 0.30em;
}

.heading{
    margin-top: 7rem;
    margin-left: 0!important;
}

.date{
    color: #A3A3A3;
}

.blacklink{
    color:#4F4F4F;
}

#btn-back-to-top{
    color: #525252;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 200%;
}

#timer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 200%;
}

footer>.container a{
    color:#ffffff;
}

h6{
    font-size: 75%;
    text-decoration: none;
}

#steps{
    margin-top: 10rem!important;
}

#group_img{
    width: 160%;
}

#group_text{
    margin-left: -75px;
}
.home_nav_items{
    margin-top: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width:1026px) and (min-width:993px){
    .heading{
        width: 50%!important;
    }

    .nav-item{
        padding: 0.5rem!important;
    }

    #steps{
        margin-top: 8rem!important;
    }

    .step-arrow{
        margin-left: 0.5rem!important;
        margin-right: 0.5rem!important;
    }

}

@media screen and (max-width:992px) {
    #arrow{
        display: none;
    }
    #step_img{
        margin-left: 15px;
    }
    #group_img{
        width: 90%!important;
    }

    #group_text{
        margin-left: 0;
    }
}

@media screen and (max-width:766px){
    #arrow{
        display: none;
    }
    .heading{
        margin-top: 4rem!important;
        padding: 0;
    }
    #steps{
        margin-top: 4rem!important;
    }

    #timer{
        bottom: 0px!important;
        right: 0px!important;
    }

    #timer img{
        width: 75%!important;
    }

    #mylogo{
        width: 115px;
        height: 85px;
    }
    
    #group_img{
        margin: 0!important;
        padding: 0!important;
    }
    #footer_logo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #footer_icons{
        margin: 10px auto;
    }
}

/* FAQ Style */

#faqnav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #757575;
    padding: 0!important;
    /* font-size: 0.7rem!important; */
}
#faqnav .nav-item{
    margin: auto 0;
}

#faqnav .nav-item .rounded-pill{
    border: 1px solid white;
    font-size: 17px;
    line-height: 40px;
    padding: 0 20px;
    margin: auto 5px;

}
#logo-faq{
    height: 54px;
    margin: 6px 0 4px 15px;
}
.greenlink{
    background-color:#29626D;
}

#faq_banner{
    padding: 0;
    width: 100%;
}
#faq_nav_btn{
    height: 40px;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
#faq_title::after{
    position: absolute;
    background:#29626D;
    opacity: 50%;
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    left: 50%;
    margin-top: 27px;
    margin-left: -100px;
}
#faq_title_img{
    padding: 0px 10px;
    width: 44px;
    height: 25px;
    position:absolute;
    display: block;
    margin: 0px auto;
    left: 50%;
    margin-left: -22px;
    background:white;
}
#faq_logo{
    display: block;
    width: fit-content;
}
#faq_customer_btn,#faq_service_btn{
    border-bottom: 2px solid #29626D;
    text-align: center;
    display: block;
}
#faq_customer_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29626D;
    color: white;
    height: 100%;
    
}
#faq_service_btn{
    background-color: #F6F6F6;
    color: black;
}
#faq_main_content{
    width: 70%;
}
.faq_arrow_img{
    width: 22px;
    height: 22px;
}
.faq_collapse_content{
    font-size: 16px;
    margin-top: 18px;
    margin-left: 37px;
}
.faq_collapse_box{
    margin-top: 10px;
}
@media screen and (max-width:1026px) and (min-width:993px){

}

@media screen and (max-width:992px) {
    #faqnav .nav-item{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

@media screen and (max-width:766px){
    #faqnav .nav-item{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #faq_main_content{
        width: 100%;
    }
    

}

/* Prices Style */

#price_box{
    margin-top: 83px;
    display: block;
    width: 553px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #B0C9CE;
    margin-bottom: 20px;
}
#price_box_title{
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1D7A8C;
}
#price_box_sub_txt{
    margin-top: 18px;
    font-family: 'Roboto';
    font-size: 48px;
    text-align: center;
}
#price_sub_box{
    margin-top: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.price_sub_sub_box{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.price_sub_img{
    width: 24px;
    height: 24px;
}
.price_sub_img_txt{
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}
#price_service_box{
    width: 1140px;
    border-top: 1px solid #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: fit-content;
    margin-bottom: 46px;
}
.price_service_main{
    margin-top: 73px;
    margin-left: 108px;
    margin-right: 108px;
}
#price_service_sub_box{
    width: 108px;
    height: 108px;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_img1{
    padding: 30px 35px 30px 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_img2{
    padding: 26px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_img3{
    padding: 38px 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_img4{
    padding: 31px 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_img5{
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#price_service_box_txt1{
    text-align: center;
    margin: 14px 0px 0px 0px;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;   
    padding: 0px;
}
#price_service_box_txt2{
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #1D7A8C;
    margin-top: 5px 0px 0px 0px;
    padding-bottom: 0px;
}
#price_include{
    background-color: #F6F6F6;
    margin-bottom: 60px;
}
.price_include_card{
    margin-top: 75px;
}
#price_include_img{
    width: 100%;    
    height: 210px;
}
#price_include_title{
    color: #4F4F4F;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.price_include_txt{
    margin-top: 14px;
}
.price_include_sub_txt{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    columns: #4F4F4F;
}
#price_title::after{
    position: absolute;
    background:#29626D;
    opacity: 50%;
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    left: 50%;
    margin-top: 27px;
    margin-left: -100px;
}
#price_title_img{
    padding: 0px 10px;
    width: 44px;
    height: 25px;
    position:absolute;
    display: block;
    margin: 0px auto;
    left: 50%;
    margin-left: -22px;
    background:#F6F6F6;
}
#price_why_halper_title1{
    color: #646464;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
#price_why_halper_txt1{
    color: #646464;
    font-size: 14px;
    text-align: right;
    font-family: 'Roboto',sans-serif;
}
#price_why_halper_title2{
    color: #646464;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
#price_why_halper_txt2{
    color: #646464;
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto',sans-serif;
}

@media screen and (max-width:1026px) and (min-width:993px){
    #price_box{
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    #price_service_box{
        width: 100%;
    }
    #price_box{
        width: 100%;
    }
    #price_why_halper_txt1{
        text-align: center;
    }
    #price_why_halper_title1{
        text-align: center;
    }
    #price_why_halper_txt2{
        text-align: center;
    }
    #price_why_halper_title2{
        text-align: center;
    }
}

@media screen and (max-width:766px){
    #price_box{
        width: 100%;
    }
    #price_service_box{
        width: 100%;
    }
    #price_box{
        width: 100%;
    }
    .price_menu{
        margin-left: auto;
        margin-right: auto;
    }
    #price_include_img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 360px;
    }
    .price_main_include{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

    }
@media screen and (max-width:390px) {
    #price_include_img{
        width: 100%;
    }
}
}

/* Contact Style */

#contact_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contact_txt{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    color: #4F4F4F;
    text-align: center;
}
#f_name,#l_name{
    display: inline;
    width: 300px;
    height: 46px;
}
#l_name{
    margin-left: 14px;
}
#phone_num{
    display: inline;
    width: 250px;
    height: 46px;
}
#phone_num_div{
    display: inline;
}
#email{
    display: inline;
    width: 300px;
    height: 46px;
    margin-left: 14px;
}
#subject_menu{
    width: 620px;
    height: 46px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#message{
    width: 620px;
    height: 146px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#message::placeholder{
    position: absolute;
    top: 13px;
    left: 15px;
}
#form_sub_div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#submit_btn{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}
#map{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

@media screen and (max-width:1026px) and (min-width:993px){
    
}

@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px){
    .contact_card{
        border: 1px solid #d4d4d4;
        margin-top: 10px;
    }
    #f_name,#l_name{
        display: block;
        width: 300px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #phone_num_div,#email{
        display: block;
        width: 300px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #subject_menu{
        width: 300px;
    }
    #message{
        width: 300px;
        height: 100px;
    }
}
@media screen and (max-width:390px) {
    #f_name,#l_name{
        display: block;
        width: 300px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #phone_num_div,#email{
        display: block;
        width: 300px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #subject_menu{
        width: 300px;

    }
    #message{
        width: 300px;
        height: 100px;
    }
}

/*  About Style */

#about_para{
    font-size: 16px;
    color: #646464;
    font-family: 'Roboto';
    text-align: center;
}

