h1, h2, h3, h4,h5{
    font-family: 'Roboto', sans-serif;
    color: #4F4F4F;
}

p{
    color: #4F4F4F;
}

.heading h1, .heading p, #steps p{
    color: #ffffff;
}

.header{
    background-image: url('../images/Landing-Page-background-image.png')!important;
    background-size: cover !important;
    color: #ffffff!important;
    padding: 1.1% 1.1%;    
}
nav a{
    color: #ffffff!important;
}

.dropdown-item span{
    color: #111111;
}

#logo{
    width: 175px;
    height: auto;
}


a{
    text-decoration: none!important;
}

.nav-padding{
    padding-top:0.25em;
    padding-bottom: 0.30em;
}

.heading{
    margin-top: 7rem;
    margin-left: 0!important;
}

.date{
    color: #A3A3A3;
}

.blacklink{
    color:#4F4F4F;
}

#btn-back-to-top{
    color: #525252;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 200%;
}

#timer{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 200%;
}

footer>.container a{
    color:#ffffff;
}

h6{
    font-size: 75%;
    text-decoration: none;
}

#steps{
    margin-top: 10rem!important;
}

#group_img{
    width: 160%;
}

#group_text{
    margin-left: -75px;
}

@media screen and (max-width:1026px) and (min-width:993px){
    .heading{
        width: 50%!important;
    }

    .nav-item{
        padding: 0.5rem!important;
    }

    #steps{
        margin-top: 8rem!important;
    }

    .step-arrow{
        margin-left: 0.5rem!important;
        margin-right: 0.5rem!important;
    }

}

@media screen and (max-width:992px) {
    #arrow{
        display: none;
    }
    #step_img{
        margin-left: 15px;
    }
    #group_img{
        width: 90%!important;
    }

    #group_text{
        margin-left: 0;
    }
}

@media screen and (max-width:766px){
    #arrow{
        display: none;
    }
    .heading{
        margin-top: 4rem!important;
        padding: 0;
    }
    #steps{
        margin-top: 4rem!important;
    }

    #timer{
        bottom: 0px!important;
        right: 0px!important;
    }

    #timer img{
        width: 75%!important;
    }

    #mylogo{
        width: 115px;
        height: 85px;
    }
    
    #group_img{
        margin: 0!important;
        padding: 0!important;
    }
    #footer_logo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #footer_icons{
        margin: 10px auto;
    }
}

/* FAQ Stle */

.faq_header{
    background-color: gray;
    background-size: cover;
}
.faq_li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.faq_li li{
    display: inline-block;
}
.faq_li li a{
    padding: 5px 10px;
    margin: 10px 3px;
    color: white;
    display: block;
}
#faq_banner{
    padding: 0;
    width: 100%;
}
